.tasks-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  background-color: #1a171d;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  height: 50px;
  border-radius: 8px;
}
.task-text {
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.tag-text {
  background-color: #f3aa4e;

  height: 30px;
  border-radius: 15px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
}
